@media print {
  .no-print {
      display:none;
  }
  .section {
    padding-top:10px ! important;
    margin-top: 10px ! important;
  }
  .hero-unit {
    padding: 4px;
  }
  #skill p {
    font-size: 80%;
  }
  #experience {
    p {
      font-size: 80%;
    }
  }
}
body {
  font-family: "Lato", Helvetica, Arial, "sans-serif";
  h1, h2 {
    font-family: "Nova Mono", Helvetica, Arial, "sans-serif";
    
  }
  #topnav,p {
    font-family: "Neue Helvetica", Helvetica, Arial, "sans-serif";
  }
}
.container {
  .social-icon {
    display: inline-block;
    vertical-align: text-top;
    background-repeat: no-repeat;
    *margin-right: 0;
    margin-right: 6px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    background-position: 0 0;
  }
  .social-icon.twitter {
    background-image: url("../images/social/24px/twitter.png");
  }
  .social-icon.linkedin {
    background-image: url("../images/social/24px/linkedin.png");
  }
  .social-icon.forrst {
    background-image: url("../images/social/24px/forrst.png");
  }
  .social-icon.fivehundred {
    background-image: url("../images/social/24px/500px.png");
  }
  .social-icon.flickr {
    background-image: url("../images/social/24px/flickr.png");
  }
  .social-icon.email {
    background-image: url("../images/social/24px/email.png");
  }
  .social-icon.github {
    background-image: url("../images/social/24px/github.png");
  }
  .social-icon.quora {
    background-image: url("../images/social/24px/quora.png");
  }
  .nav-pills {
    font-size: 14px;
  }
  .nav-pills > .active > a,
  .nav-pills > .active > a:hover {
    background: #C52B27;
    text-shadow: none;
  }
  #main {
    margin-top: 0px;
    font-size: 16px;
    line-height: 1.5em;
  }
  .navbar-inner {
    .important {
      color: #fe57a1;
    }
    .dropdown-menu {
      background: #fff;
      
      li > a {
        color: #444;
        border-left: 3px solid transparent;
        text-shadow: none;
      }
      li > a:hover,
      .navbar-inner .dropdown-menu .active > a,
      .navbar-inner .dropdown-menu .active > a:hover {
        border-left: 3px solid #EF5521;
      }
    }
  }
}
.hero-unit {
  @media (max-width: 480px) { 
    h1,h2 {
      font-size: 1.8em;
    }
    h2 {
      white-space: nowrap;
    }
    p {
      font-size: 0.8em
    }
  }
  small {
    position: relative;
    left: -10px;
    line-height: 0px;
    bottom: -10px;
    font-size: 70%;

  }
  .drop {
    bottom: -50px;
  }
  p {
    color: #EF5521;
  }
}

.date {
  color: #888888;
  font-size: 14px;
  display: block;
  margin-bottom: 6px;
}
.section {
  padding-top: 60px;
  margin-top: 14px0px;
}
    
#skills {
  dt,dd {
    padding-top: 10px;
  }
  dt {
    color: #EF5521;
  }
  @media (max-width: 767px) {
    dt {
      float: left;
      width: 120px;
      clear: left;
      text-align: right;
    }
    dd {
      margin-left: 130px;
    }    
  }
}
.listing .entry {
  margin-bottom: 40px;
  
  .heading {
    margin-bottom: 0px;
    line-height: 1.1em;
    padding-top: 4px;
    border-top: 1px solid #ccc;
  }
}
#summary {
  p { font-size: 16px; }
}
#experience {
  dl.dl-horizontal {
    div {
      display: table;
      border-top: 1px solid #ccc;
      padding-top: 10px;
    }
    dt {
      width: 275px;
      text-align: left;
      overflow: auto;
      white-space: normal;
    }
    dd {
      margin-left: 285px;
    }
    .date {
      color: #888888;
      font-size: 14px;
      display: block;
      margin-bottom: 6px;
    }
    small {
      display: block;
      color: #EF5521;
      font-size: 14px;
    }
    @media (max-width: 767px) {
      dt {
        float: none;
        clear: none;
        width: auto;
      }
      dd {
        margin-left: 0px;
      }    
    }
  }
}
#interests {
  li {
    list-style-type: none;
    background: url(../images/icon-award.png) no-repeat 0px 0px;
    padding-left: 45px;
    min-height: 40px;
    margin-bottom: 40px;
  }
}

