*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.sass-cache
public

# YARD artifacts
.yardoc
_yardoc
doc/
*.pdf
.DS_Store
.ruby-gemset
.ruby-version
bin/
