/* line 1, ../sass/custom.scss */
body {
  font-family: "Lato", Helvetica, Arial, "sans-serif"; }
  /* line 3, ../sass/custom.scss */
  body h1, body h2 {
    font-family: "Nova Mono", Helvetica, Arial, "sans-serif"; }
  /* line 6, ../sass/custom.scss */
  body #topnav, body p {
    font-family: "Neue Helvetica", Helvetica, Arial, "sans-serif"; }

/* line 11, ../sass/custom.scss */
.container .social-icon {
  display: inline-block;
  vertical-align: text-top;
  background-repeat: no-repeat;
  *margin-right: 0;
  margin-right: 6px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  background-position: 0 0; }
/* line 22, ../sass/custom.scss */
.container .social-icon.twitter {
  background-image: url("../images/social/24px/twitter.png"); }
/* line 25, ../sass/custom.scss */
.container .social-icon.linkedin {
  background-image: url("../images/social/24px/linkedin.png"); }
/* line 28, ../sass/custom.scss */
.container .social-icon.forrst {
  background-image: url("../images/social/24px/forrst.png"); }
/* line 31, ../sass/custom.scss */
.container .social-icon.fivehundred {
  background-image: url("../images/social/24px/500px.png"); }
/* line 34, ../sass/custom.scss */
.container .social-icon.flickr {
  background-image: url("../images/social/24px/flickr.png"); }
/* line 37, ../sass/custom.scss */
.container .social-icon.email {
  background-image: url("../images/social/24px/email.png"); }
/* line 40, ../sass/custom.scss */
.container .social-icon.github {
  background-image: url("../images/social/24px/github.png"); }
/* line 43, ../sass/custom.scss */
.container .social-icon.quora {
  background-image: url("../images/social/24px/quora.png"); }
/* line 46, ../sass/custom.scss */
.container .nav-pills {
  font-size: 14px; }
/* line 50, ../sass/custom.scss */
.container .nav-pills > .active > a,
.container .nav-pills > .active > a:hover {
  background: #C52B27;
  text-shadow: none; }
/* line 54, ../sass/custom.scss */
.container #main {
  margin-top: 0px;
  font-size: 16px;
  line-height: 1.5em; }
/* line 60, ../sass/custom.scss */
.container .navbar-inner .important {
  color: #fe57a1; }
/* line 63, ../sass/custom.scss */
.container .navbar-inner .dropdown-menu {
  background: #fff; }
  /* line 66, ../sass/custom.scss */
  .container .navbar-inner .dropdown-menu li > a {
    color: #444;
    border-left: 3px solid transparent;
    text-shadow: none; }
  /* line 73, ../sass/custom.scss */
  .container .navbar-inner .dropdown-menu li > a:hover,
  .container .navbar-inner .dropdown-menu .navbar-inner .dropdown-menu .active > a,
  .container .navbar-inner .dropdown-menu .navbar-inner .dropdown-menu .active > a:hover {
    border-left: 3px solid #C52B27; }
/* line 79, ../sass/custom.scss */
.container #summary {
  font-size: 16px; }
/* line 83, ../sass/custom.scss */
.container .experience-table .position {
  margin-bottom: 0px;
  line-height: 1.2em; }
/* line 87, ../sass/custom.scss */
.container .experience-table .date {
  color: #888888;
  font-size: 14px;
  display: block;
  margin-bottom: 6px; }
/* line 93, ../sass/custom.scss */
.container .experience-table small {
  display: block;
  color: #C52B27;
  font-size: 14px; }
/* line 98, ../sass/custom.scss */
.container .experience-table td:first-child {
  width: 33%; }
/* line 102, ../sass/custom.scss */
.container .listing .entry {
  margin-bottom: 40px; }
  /* line 105, ../sass/custom.scss */
  .container .listing .entry .heading {
    margin-bottom: 0px;
    line-height: 1.1em; }
  /* line 110, ../sass/custom.scss */
  .container .listing .entry .date {
    color: #888888;
    font-size: 14px;
    display: block;
    margin-bottom: 6px;
    border-bottom: 1px solid #ccc; }
/* line 119, ../sass/custom.scss */
.container .interests-list li {
  list-style-type: none;
  background: url(../images/icon-award.png) no-repeat 0px 0px;
  padding-left: 45px;
  min-height: 40px;
  margin-bottom: 40px; }
/* line 127, ../sass/custom.scss */
.container .section {
  padding-top: 40px;
  margin-top: 100px; }

/* line 133, ../sass/custom.scss */
#skills dt, #skills dd {
  padding-top: 10px; }
/* line 136, ../sass/custom.scss */
#skills dt {
  color: #C52B27; }

/* line 141, ../sass/custom.scss */
.hero-unit p {
  color: #C52B27; }
