@media print {
  /* line 2, ../sass/custom.scss */
  .no-print {
    display: none; }

  /* line 5, ../sass/custom.scss */
  .section {
    padding-top: 10px !important;
    margin-top: 10px !important; }

  /* line 9, ../sass/custom.scss */
  .hero-unit {
    padding: 6px !important;
    margin-bottom: 10px !important; }
    /* line 11, ../sass/custom.scss */
    .hero-unit h1 {
      font-size: 20px !important; }

  /* line 16, ../sass/custom.scss */
  #skill p {
    font-size: 80%; }

  /* line 20, ../sass/custom.scss */
  #experience p {
    font-size: 80%; } }
/* line 26, ../sass/custom.scss */
body {
  font-family: "Lato", Helvetica, Arial, "sans-serif"; }
  /* line 28, ../sass/custom.scss */
  body h1, body h2 {
    font-family: "Nova Mono", Helvetica, Arial, "sans-serif"; }
  /* line 32, ../sass/custom.scss */
  body #topnav, body p {
    font-family: "Neue Helvetica", Helvetica, Arial, "sans-serif"; }

/* line 37, ../sass/custom.scss */
.container .social-icon {
  display: inline-block;
  vertical-align: text-top;
  background-repeat: no-repeat;
  *margin-right: 0;
  margin-right: 6px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  background-position: 0 0; }
/* line 48, ../sass/custom.scss */
.container .social-icon.twitter {
  background-image: url("../images/social/24px/twitter.png"); }
/* line 51, ../sass/custom.scss */
.container .social-icon.linkedin {
  background-image: url("../images/social/24px/linkedin.png"); }
/* line 54, ../sass/custom.scss */
.container .social-icon.forrst {
  background-image: url("../images/social/24px/forrst.png"); }
/* line 57, ../sass/custom.scss */
.container .social-icon.fivehundred {
  background-image: url("../images/social/24px/500px.png"); }
/* line 60, ../sass/custom.scss */
.container .social-icon.flickr {
  background-image: url("../images/social/24px/flickr.png"); }
/* line 63, ../sass/custom.scss */
.container .social-icon.email {
  background-image: url("../images/social/24px/email.png"); }
/* line 66, ../sass/custom.scss */
.container .social-icon.github {
  background-image: url("../images/social/24px/github.png"); }
/* line 69, ../sass/custom.scss */
.container .social-icon.quora {
  background-image: url("../images/social/24px/quora.png"); }
/* line 72, ../sass/custom.scss */
.container .nav-pills {
  font-size: 14px; }
/* line 76, ../sass/custom.scss */
.container .nav-pills > .active > a,
.container .nav-pills > .active > a:hover {
  background: #C52B27;
  text-shadow: none; }
/* line 80, ../sass/custom.scss */
.container #main {
  margin-top: 0px;
  font-size: 16px;
  line-height: 1.5em; }
/* line 86, ../sass/custom.scss */
.container .navbar-inner .important {
  color: #fe57a1; }
/* line 89, ../sass/custom.scss */
.container .navbar-inner .dropdown-menu {
  background: #fff; }
  /* line 92, ../sass/custom.scss */
  .container .navbar-inner .dropdown-menu li > a {
    color: #444;
    border-left: 3px solid transparent;
    text-shadow: none; }
  /* line 99, ../sass/custom.scss */
  .container .navbar-inner .dropdown-menu li > a:hover,
  .container .navbar-inner .dropdown-menu .navbar-inner .dropdown-menu .active > a,
  .container .navbar-inner .dropdown-menu .navbar-inner .dropdown-menu .active > a:hover {
    border-left: 3px solid #EF5521; }

/* line 105, ../sass/custom.scss */
.hero-unit {
  padding: 30px; }
  @media (max-width: 480px) {
    /* line 105, ../sass/custom.scss */
    .hero-unit {
      font-size: 100%; }
      /* line 108, ../sass/custom.scss */
      .hero-unit h1, .hero-unit h2 {
        font-size: 1.8em; }
      /* line 111, ../sass/custom.scss */
      .hero-unit h2 {
        white-space: nowrap; }
      /* line 114, ../sass/custom.scss */
      .hero-unit p {
        font-size: 0.8em; } }
  /* line 118, ../sass/custom.scss */
  .hero-unit small {
    position: relative;
    left: -10px;
    line-height: 0px;
    bottom: -10px;
    font-size: 70%; }
  /* line 126, ../sass/custom.scss */
  .hero-unit .drop {
    bottom: -50px; }
  /* line 129, ../sass/custom.scss */
  .hero-unit p {
    color: #EF5521; }

/* line 135, ../sass/custom.scss */
.date {
  color: #888888;
  font-size: 14px;
  display: block;
  margin-bottom: 6px; }

/* line 141, ../sass/custom.scss */
.section {
  padding-top: 60px;
  margin-top: 14px0px; }

/* line 147, ../sass/custom.scss */
#skills dt, #skills dd {
  padding-top: 10px; }
/* line 150, ../sass/custom.scss */
#skills dt {
  color: #EF5521; }
@media (max-width: 767px) {
  /* line 154, ../sass/custom.scss */
  #skills dt {
    float: left;
    width: 120px;
    clear: left;
    text-align: right; }
  /* line 160, ../sass/custom.scss */
  #skills dd {
    margin-left: 130px; } }

/* line 165, ../sass/custom.scss */
.listing .entry {
  margin-bottom: 40px; }
  /* line 168, ../sass/custom.scss */
  .listing .entry .heading {
    margin-bottom: 0px;
    line-height: 1.1em;
    padding-top: 4px;
    border-top: 1px solid #ccc; }

/* line 176, ../sass/custom.scss */
#summary p {
  font-size: 16px; }

/* line 180, ../sass/custom.scss */
#experience dl.dl-horizontal div {
  display: table;
  border-top: 1px solid #ccc;
  padding-top: 10px; }
/* line 185, ../sass/custom.scss */
#experience dl.dl-horizontal dt {
  width: 275px;
  text-align: left;
  overflow: auto;
  white-space: normal; }
/* line 191, ../sass/custom.scss */
#experience dl.dl-horizontal dd {
  margin-left: 285px; }
/* line 194, ../sass/custom.scss */
#experience dl.dl-horizontal .date {
  color: #888888;
  font-size: 14px;
  display: block;
  margin-bottom: 6px; }
/* line 200, ../sass/custom.scss */
#experience dl.dl-horizontal small {
  display: block;
  color: #EF5521;
  font-size: 14px; }
@media (max-width: 767px) {
  /* line 206, ../sass/custom.scss */
  #experience dl.dl-horizontal dt {
    float: none;
    clear: none;
    width: auto; }
  /* line 211, ../sass/custom.scss */
  #experience dl.dl-horizontal dd {
    margin-left: 0px; } }

/* line 218, ../sass/custom.scss */
#interests li {
  list-style-type: none;
  background: url(../images/icon-award.png) no-repeat 0px 0px;
  padding-left: 45px;
  min-height: 40px;
  margin-bottom: 40px; }
